@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Sora", sans-serif;
  background-color: #fafaf9;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-bottom: 16px;
  color: rgb(55, 65, 81);
  position: absolute;
  bottom: 0;
}

.author-info a {
  text-decoration: none;
}

.card {
  max-width: 400px;
  padding: 16px 16px 20px 16px;
  box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
  border-radius: 20px;
  background-color: white;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 16px;
}

.category {
  background-color: #f2eafd;
  padding: 6px 16px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #7c19ee;
  margin-bottom: 16px;
}

.card h2 {
  color: #20293a;
  margin: 16px 0 6px 0;
}

.desc {
  color: #394150;
  font-size: 16px;
  line-height: 1.5rem;
  margin-bottom: 20px;
}

.author {
  color: #394150;
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
}

hr {
  border: none;
  border-top: 1px solid #e5eaf0;
  margin: 0 -16px;
}

@media screen and (max-width: 430px) {
  .card {
    margin: 20px;
  }
}
